body {
	height: 100vh;
	width: 100vw;
	display: flex;
	margin: 0;
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.square-div {
	height: 100%;
	width: calc(100%/4);
}

.row-div {
	display: block;
	height: 100%;
	width: calc(100%/3);
}

.block-div {
	display: block;
	height: 100%;
	width: calc(100%/3);
}

.block{
	display: block;
	height: calc(100%/3);
	width: 100%;
}

.block2{
	display: row;
	height: calc(100%/3);
	width: 100%;
}

.block3{

	height: 25%;
	width: 100%;
}

.box{
	height: 25%;
	width: 100%;
}

.row{
	display: block;
	height:75%;
	width: 100%;
}

/* When possible, organize CSS classes in alphabetical order */
.violet {
	background-color: #b4cfff;
}

.purple {
	background-color: #DA70D6;
}

.slate {
	background-color: #afc9c7;
}

.blue{
	background-color: #d3ffce;
}

.pink{
	background-color:#FFC0CB;
}

.red{
	background-color:#f96161;
}

.green{
	background-color: #008000;
}
.restrict-img-size{
	max-height:100%;
	max-width:100%;
}
.picture{
	height:100%;
	width:100%;
}
.center-content {
	align-items: center;
	justify-content: center;
	display:flex;
}
